/ {
	aliases {
		pms-uart = &uart1;
        lora-radio = &lora;
        sht3x-sensor = &sht3x;
	};
};

&uart1 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&pinctrl {
	uart0_default: uart0_default {
		group1 {
			pinmux = <UART0_TX_GPIO16>;
			output-high;
		};
		group2 {
			pinmux = <UART0_RX_GPIO17>;
			bias-pull-up;
		};
	};

    uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO39>;
			output-high;
		};
		group2 {
			pinmux = <UART1_RX_GPIO40>;
			bias-pull-up;
		};
	};

    spim2_default: spim2_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO4>,
				 <SPIM2_SCLK_GPIO6>;
		};
		group2 {
			pinmux = <SPIM2_MOSI_GPIO2>;
			output-low;
		};
	};

    i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO35>,
				 <I2C0_SCL_GPIO37>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";

    cs-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;

	lora: lora@0 {
		compatible = "semtech,sx1276";
		reg = <0x0>;
		spi-max-frequency = <DT_FREQ_M(1)>;

		reset-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;   /* A0 */

		dio-gpios = <&gpio0 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,	   /* DIO0 is D2 */
		            <&gpio0 7 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,	   /* DIO1 is D3 */
			    <&gpio0 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        power-amplifier-output = "pa-boost";
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

    sht3x: sht3xd@44 {
		compatible = "sensirion,sht3xd";
		reg = <0x44>;
	};
};