/ {
	model = "RAKWireless RAK3172 WisDuo LPWAN Module with a STM32WLE5CC SoC";
	compatible = "stm32,rak3172_stm32wl";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,lorawan-transceiver = &lora;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_2 {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			label = "White LED";
		};

		led1: led_1 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};
	};

	aliases {
		systemled = &led0;
		lora0 = &lora;
		scd4x = &scd40;
		bme280 = &bme280;
		pms-uart = &usart1;
		watchdog0 = &iwdg;
	};
};

&iwdg {
	status = "okay";
};

&wwdg {
	status = "disabled";
};

&cpu0 {
	device_type = "cpu";
	compatible = "arm,cortex-m4";
	reg = <0>;
	cpu-power-states = <&stop0 &stop1>;
};

&subghzspi {
	status = "okay";
	lora: radio@0 {
		status = "okay";
		tx-enable-gpios = <&gpioa 8 GPIO_ACTIVE_LOW>; /* FE_CTRL1 */
		rx-enable-gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;  /* FE_CTRL2 */
		power-amplifier-output = "rfo-hp";
		rfo-hp-max-power = <22>;
	};
};

&usart1 {
    current-speed = <9600>;
    status = "okay";
    pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
};

&usart2 {
    current-speed = <115200>;
    status = "okay";
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pa12 &i2c2_sda_pa11>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	scd40: scd40@62 {
        status = "okay";
        reg = <0x62>;
		mode = <0>;
        compatible = "sensirion,scd41";
    };

	bme280: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
	};

};
